html,body{
  height: 100%;
}
body{
  position: relative;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.sidebar{
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #999;
}
.search{
  padding: 5px;
  border-bottom: 1px solid #666;
  position: relative;
  left: 0;
  top: 0;
  background: #e8e8e8;
}
.search input{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: searchfield;
  display: inline-block;
  height: 22px;
}
#tree{
  width: 100%;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 38px;
  bottom: 0;
}
#tree a{
  padding: 5px 10px;
}
#tree a:nth-child(odd) {
  background-color: #EFEFEF;
}
#tree a:hover{
  background-color: #CCC;
}
#tree a:focus {
  background-color: #00539f;
}


#main{
  margin-left: 250px;
}

#content{
  padding: 20px;
}

#content h1{
  margin: 0;
  padding: 20px;
  margin: -20px;
  line-height: 100%;
  background: #00539f;
  color: #FFF;
}
#content h1 em{
  float: right;
  font-size: 14px;
}
#content h1 + p{
  margin: -20px;
  padding: 10px 20px;
  background: #00539f;
  color: #FFF;
}
#content h1 + p em{
  float: right;
}
#content h2{
  margin-top: 35px;
  padding-bottom: 5px;
  border-bottom: 1px solid #CCC;
}








