<html ng-app="myapp">
  <head>
    <title>Angular</title>

    <link rel="stylesheet" href="css/mice.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/showdown.min.js"></script>
  </head>
  <body>

    <section>
      <div class="sidebar" ng-controller="SideController">
        <div class="search">
          <input type="text" class="small" ng-model="filterField">
        </div>

        <div class="group" id="tree">
          <a ng-repeat="item in items | filter: filterField | orderBy:'name'" ng-href="/{{item.name}}" ng-attr-title="{{item.intro}}" ng-bind="item.name"></a>
        </div>
      </div>

      <div id="main" ng-view></div>
    </section>

    <script src="js/app.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/controllers.js"></script>

  </body>
</html>
