<div id="content">

  <h1>核心 JavaScript 参考手册</h1>

  <br /><br />

  <h4>这里是 JavaScript 核心 API 中的所有类、属性、函数、方法和事件处理程序的完整参考。</h4>

  <div class="group">
    <a href="/Arguments">
      <h4 class="heading">Arguments</h4>
      <p class="text">一个函数的参数和其他属性</p>
    </a>
    <a href="/Array">
      <h4 class="heading">Array</h4>
      <p class="text">对数组的内部支持</p>
    </a>
    <a href="/Boolean">
      <h4 class="heading">Boolean</h4>
      <p class="text">对布尔值的支持</p>
    </a>
    <a href="/Date">
      <h4 class="heading">Date</h4>
      <p class="text">操作日期和时间的对象</p>
    </a>
    <a href="/Error">
      <h4 class="heading">Error</h4>
      <p class="text">普通异常</p>
    </a>
    <a href="/Math">
      <h4 class="heading">Math</h4>
      <p class="text">算术函数和常量</p>
    </a>
    <a href="/Global">
      <h4 class="heading">Global</h4>
      <p class="text">全局对象</p>
    </a>
    <a href="/JavaArray">
      <h4 class="heading">JavaArray</h4>
      <p class="text">Java数组的JavaScript表示</p>
    </a>
    <a href="/JavaObject">
      <h4 class="heading">JavaObject</h4>
      <p class="text">Java对象的JavaScript表示</p>
    </a>
    <a href="/JavaPackage">
      <h4 class="heading">JavaPackage</h4>
      <p class="text">Java包的JavaScript表示</p>
    </a>
    <a href="/Number">
      <h4 class="heading">Number</h4>
      <p class="text">对数字的支持</p>
    </a>
    <a href="/Object">
      <h4 class="heading">Object</h4>
      <p class="text">含有所有JavaScript对象的特性的超类</p>
    </a>
    <a href="/RegExp">
      <h4 class="heading">RegExp</h4>
      <p class="text">用于模式匹配的正则表达式</p>
    </a>
    <a href="/String">
      <h4 class="heading">String</h4>
      <p class="text">对字符串的支持</p>
    </a>
    <a href="/Function">
      <h4 class="heading">Function</h4>
      <p class="text">JavaScript函数</p>
    </a>
  </div>

</div>